html {
    display: flex;
    overflow-y: hidden;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

body {
    height: 93.9vh;
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
button {
    background: none;
    border: none;
    outline: none;
    color: white;
    font-family: "Daydream";
    position: relative;
    padding: 1vh;
    transform: translateY(1vh);
    opacity: 0;
    transition: 0.5s;
}
button:hover {
    color: yellow;
}
@font-face {
    font-family: 'Daydream';
    src: url('./Daydream.ttf') format('woff');
    /* You can specify other font formats (e.g., 'ttf', 'otf') as needed */
  }

#canvas {
    border: solid red 2px;
}